<!-- Hero Section -->
<div class="hero-section">
  <div class="parallax-container">
    <img
      ngSrc="assets/landing2.jpg"
      fill
      alt="Landing Image"
      class="background-image"
      priority
    />
  </div>
  <app-navbar></app-navbar>
</div>

<div class="coming-next-container">
  <div class="rainbow-music-lines">
    <div class="line red"></div>
    <div class="line orange"></div>
    <div class="line yellow"></div>
    <div class="line green"></div>
    <div class="line blue"></div>
  </div>
  <div class="coming-next-text">
    <h2>🎶 Coming Next 🎶</h2>

  </div>
</div>

<section class="content-section">
<div class="content">
  <app-coming-next-event></app-coming-next-event>
    <!-- Add enough content to enable scrolling -->
</div>
</section>